/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.card-content{
  height:200px;
  text-decoration: none;
}
.card-content:hover{
  height:200px;
  text-decoration: none;
  background-color:#ecf0f1;
}
