
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1 class="text-center"> All Documents </h1>
      <% @docs.each do |doc| %>
      <div class="doc product">

 <%= link_to doc_path(doc) do %>
         <div class='product-body'>
            <h3 class="ttext"><%= doc.name %></h3>
            <p class="ttext"><%= doc.abstract %></p>
           <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>