<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Chat</h1>
  </div>
</div>
<div class="jumbotron container">
  <div class="container">
    <h1 class="display-3">Topic</h1>
    <p class="lead">
      <% @topic.each do |topic| %>
      <tr>

         <%= link_to topic.topic, messages_path(topic: topic.topic), class: "card-category design" %><br>


      </tr>
    <% end %>


    </p>
  </div>
</div>