<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Community</h1>
  </div>
</div>
<div class="jumbotron container">
  <div class="container">
    <h1 class="display-3">Documents</h1><br>
    <p class="lead">
      <% @doc.each do |doc| %>
      <tr>
         <%=image_tag("icondoc.png")%>
         <%= link_to doc.name, doc_path(doc), class: "card-product " %><br>


      </tr>
    <% end %>
      <br><br>
<%= link_to "All Documents", docs_path, class:"text-right pull-xs-right" %>

    </p>
  </div>
</div>
<div class="jumbotron container">
  <div class="container">
	<div class="loading col-md-4">
		  <div class="dot one"></div>
		  <div class="dot two"></div>
		  <div class="dot three"></div>
		  <div class="dot four"></div>
	</div>
    <div class=" col-md-8 text-center"> <br>
      <h3 class="text-center">  Join our Community in slack </h3><br><br><br>
       <p class="text-center col-md-2"><br><br></p>
      <p class="text-center col-md-8">  Join our Community in slack blabla blablabla blabla bla bla bla bla blablabla blabla bla bla bla bla </p><br><br><br>
       <p class="text-center col-md-2"><br><br></p>
       <p class="text-center col-md-4"><br><br></p><br><br><br><br>
    <br><br>  <a class="typeform-share btn btn-lg slack-btn  text-center col-md-5 " href="https://cyrilfert.typeform.com/to/b0ampv" data-mode="1" target="_blank">Join US</a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>

	</div>
      </div>
</div>