<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Chat</h1>
  </div>
</div>
<div class="jumbotron container">
  <div class="container">
    <h1 class="display-3">Topic</h1>
    <p class="lead">Topic 1<br>
      Topic 2<br>
      Topic 3<br>
      Topic 4<br>
      Topic 5<br>
      Topic 6<br>
      Topic 7<br>

    </p>
  </div>
</div>